name: Commit Stage
on: [pull_request]
jobs:
  Test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: "17"
          cache: "npm"

      - name: Install dependencies
        run: npm i

      - name: Run tests
        run: npm run test

  TypeCheck:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: "17"
          cache: "npm"

      - name: Install dependencies
        run: npm i

      - name: Run typecheck
        run: npm run typecheck

  Build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: "17"
          cache: "npm"

      - name: Install dependencies
        run: npm i

      - name: Run build
        run: npm run build

  Prettier:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: "17"
          cache: "npm"

      - name: Install dependencies
        run: npm i

      - name: Run prettier
        run: npm run prettier
